activity {
  @extend .clearfix;
  .container {
    height: calc(100% - 50px);
    max-height: calc(100% - 50px);
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    padding: 20px 40px;
    background: #FBFBFB;
    .blur {
      position: absolute;
      display: block;
      left: -60px;
      width: calc(100% + 120px);
      height: calc(100% + 120px);
      z-index: 20;
    }
    h1 {
      color: #444444;
      text-transform: uppercase;
      font-size: 26px;
      margin-bottom: 10px;
      float: left;
      &:nth-of-type(2) {
        float: left;
        margin-top: 12px;
        margin-bottom: 0;
      }
    }
    small {
      float: left;
      margin-bottom: 5px;
      margin-top: 0;
      margin-left: 64px;
      color: #888888;
    }
    .splitter {
      display: block;
      width: 100%;
      height: 1px;
      background: #F2F2F2;
      margin: 20px 0;
      clear: both;
      position: relative;
      @extend .clearfix;
    }
    .empty {
      clear: both;
      display: block;
      @extend .clearfix;
      a {
        animation: colors 5s ease-in-out infinite;
      }
    }
  }
  .input-row {
    padding: 20px;
    margin: -1px;
    border: 1px solid #F2F2F2;
    background: #fff;
    width: 100%;
    display: block;
    @extend .clearfix;
    position: relative;
    input {
      background: none;
      outline: none;
      border: none;
      font-size: 16px;
      width: 95%;
    }
  }
  .posts-row {
    clear: both;
    @extend .clearfix;
    .col {
      width: 100%;
      height: 140px;
      float: left;
      padding: 25px;
      margin: -1px;
      border: 1px solid #F2F2F2;
      background: #fff;
      img {
        left: 20px;
        width: 48px;
        height: 48px;
        position: absolute;
        border-radius: 50px;
        display: inline-block;
      }
      button {
        float: right;
        border: #E2E2E2 1px solid;
        background: #fff;
        padding: 5px 14px;
        border-radius: 14px;
        margin-top: 10px;
        margin-left: 10px;
        transition: 0.3s all;
        outline: none;
        input {
          display: none;
        }
        &:hover {
          background: #E2E2E2;
        }
        i {
          color: #979797;
        }
      }
      h2 {
        margin: 0 0 5px;
        color: #888888;
        font-size: 13px;
        transition: 0.2s all;
        span {
          opacity: 0;
          float: right;
          visibility: hidden;
          transition: 0.2s all;
        }
        &.error {
          color: $mainRed;
          span {
            color: $mainRed;
            opacity: 1;
            visibility: visible;
          }
        }
      }
      &.post {
        z-index: 1;
        transition: 0.3s all;
        position: relative;
        @extend .clearfix;
        > p {
         clear: both;
         display: block;
         margin-left: 64px;
        }
        .close-button {
          position: absolute;
          right: 0;
          top: 10px;
          padding: 12px;
          line-height: 11px;
          color: $black;
          margin: 0;
          border: none;
          font-size: 26px;
          transition: 0.3s all;
          opacity: 0;
          visibility: hidden;
          transform: rotate(180deg);
          background: $white;
          &.visible {
            opacity: 1;
            visibility: visible;
          }
          &:hover {
            transform: rotate(360deg);
          }
        }
        .comments {
          overflow: hidden;
          position: absolute;
          max-height: 300px;
          top: 100%;
          width: 94%;
          padding: 10px;
          left: 20px;
          border: 1px solid #F2F2F2;
          background: #FBFBFB;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
          margin-top: 2px;
          border-top: 0;
          z-index: 21;
          opacity: 0;
          visibility: hidden;
          transition: 0.2s opacity ease-in 0.3s, 0.2s transform ease-in 0.3s;
          transform: translateY(-150px);
          input {
            background: #fff;
            padding: 10px;
            width: 100%;
            border: 1px solid #F2F2F2;
          }
          .emojipicker {
            position: absolute;
            right: 15px;
            top: 22px;
          }
          .comment {
            display: block;
            padding: 20px 0;
            border-top: 1px solid #F2F2F2;
            img {
              top: 0;
              left: 0;
              border-radius: 50%;
              width: 50px;
              height: 50px;
              margin-right: 20px;
              position: relative;
              display: inline-block;
              float: left;
              box-shadow: none;
            }
            a {
              margin-left: 20px;
              display: block;
              span {
                color: #cccccb;
                &.split {
                  font-size: 10px;
                  margin: 0 10px;
                }
              }
            }
            p {
              margin-left: 30px;
              padding-left: 40px;
              color: #818085;
              margin-top: 5px;
              line-height: 25px;
            }
          }
        }
        &:hover {
          transform: scale(1.05);
          z-index: 2;
        }
        &.active {
          width: 98%;
          z-index: 21;
          .comments {
            opacity: 1;
            overflow: inherit;
            max-height: inherit;
            visibility: visible;
            margin-bottom: 40px;
            transform: translateY(0);
          }
          &:hover {
            transform: scale(1);
            .large-button {
              display: none;
            }
          }
        }
        h2 {
          clear: both;
          display: block;
          margin-left: 64px;
          i {
            margin-right: 5px;
            &.fa-star {
              color: #FD9626;
            }
            &.fa-star.o {
              color: #CBCBCB;
            }
          }
          span {
            opacity: 1;
            visibility: visible;
            float: none;
          }
        }
        h3 {
          float: left;
          font-size: 15px;
          display: block;
          width: calc(100% - 54px);
          height: 20px;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-top: 0;
          margin-left: 64px;
          margin-bottom: 2px;
          line-height: 18px;
        }
        i.fa-check-circle {
          top: 28px;
          right: 12px;
          position: absolute;
          color: $mainGreen;
        }
        strong {
          top: 16px;
          right: 16px;
          position: absolute;
        }
        .large-button {
          left: 0;
          margin: 0;
          top: 100%;
          z-index: 4;
          opacity: 0;
          width: 100%;
          font-size: 12px;
          border-radius: 0;
          position: absolute;
          visibility: hidden;
          transition: 0.3s all;
          background: $mainGreen;
          transform: translateY(-37px);
          &:disabled {
            background: $mainLite;
          }
          &.half {
            width: 50%;
            &:nth-of-type(3) {
              left: 50%;
            }
          }
        }
        &:hover {
          .large-button {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
      }
    }
  }
  .activity-row {
    clear: both;
    @extend .clearfix;
    .col {
      width: 50%;
      height: 100px;
      float: left;
      padding: 25px;
      margin: -1px;
      border: 1px solid #F2F2F2;
      background: #fff;
      &.full {
        width: 100%;
      }
      img {
        width: 48px;
        height: 48px;
        border-radius: 50px;
        display: inline-block;
      }
      button {
        float: right;
        border: #E2E2E2 1px solid;
        background: #fff;
        padding: 5px 14px;
        border-radius: 14px;
        margin-top: 10px;
        margin-left: 10px;
        transition: 0.3s all;
        outline: none;
        input {
          display: none;
        }
        &:hover {
          background: #E2E2E2;
        }
        i {
          color: #979797;
        }
      }
      h2 {
        margin: 0 0 5px;
        color: #888888;
        font-size: 13px;
        transition: 0.2s all;
        span {
          opacity: 0;
          float: right;
          visibility: hidden;
          transition: 0.2s all;
        }
        &.error {
          color: $mainRed;
          span {
            color: $mainRed;
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .fa-eye {
        float: right;
        margin-top: 5px;
        font-size: 18px;
      }
      textarea {
        background: none;
        outline: none;
        border: none;
        margin-top: 8px;
        font-size: 16px;
        resize: none;
        height: 100%;
        width: 100%;
      }
      &.post {
        position: relative;
        transition: 0.3s all;
        z-index: 1;
        &:hover {
          transform: scale(1.05);
          z-index: 2;
        }
        h2 {
          clear: both;
          display: block;
          margin-left: 64px;
          i {
            margin-right: 5px;
            &.fa-star {
              color: #FD9626;
            }
            &.fa-star.o {
              color: #CBCBCB;
            }
          }
          span {
            opacity: 1;
            visibility: visible;
            float: none;
          }
        }
        h3 {
          float: left;
          font-size: 15px;
          display: block;
          width: calc(100% - 54px);
          height: 36px;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-top: 0;
          margin-bottom: 0;
          margin-left: 64px;
          line-height: 18px;
        }
        i.fa-check-circle {
          top: 28px;
          right: 12px;
          position: absolute;
          color: $mainGreen;
        }
        strong {
          top: 16px;
          right: 16px;
          position: absolute;
        }
        .large-button {
          left: 0;
          margin: 0;
          top: 100%;
          z-index: 4;
          opacity: 0;
          width: 100%;
          font-size: 12px;
          border-radius: 0;
          position: absolute;
          visibility: hidden;
          transition: 0.3s all;
          background: $mainGreen;
          transform: translateY(-37px);
          &:disabled {
            background: $mainLite;
          }
          &.half {
            width: 50%;
            &:nth-of-type(3) {
              left: 50%;
            }
          }
        }
        &:hover {
          .large-button {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
      }
      &.user {
        position: relative;
        transition: 0.3s all;
        z-index: 1;
        &:hover {
          transform: scale(1.05);
          z-index: 2;
        }
        img {
          float: left;
          border-radius: 0;
          position: absolute;
          width: 50px;
          height: 50px;
          float: left;
          border-radius: 50%;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
        }
        h2 {
          clear: both;
          display: block;
          margin-left: 64px;
          i {
            margin-right: 5px;
            &.fa-star {
              color: #FD9626;
            }
            &.fa-star.o {
              color: #CBCBCB;
            }
          }
          span {
            opacity: 1;
            visibility: visible;
            float: none;
            margin-left: 10px;
          }
        }
        h3 {
          float: left;
          font-size: 15px;
          display: block;
          width: calc(100% - 54px);
          height: 20px;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-top: 0;
          margin-left: 64px;
          margin-bottom: 2px;
          line-height: 18px;
        }
      }
    }
  }
}