.chat-window {
  position: fixed;
  bottom: 0;
  right: 240px;
  width: 250px;
  height: 400px;
  z-index: 100;
  &.minimized {
    header {
      z-index: 2;
      position: relative;
      transform: translateY(350px);
      background-color: lighten($darkBlue, 20);
      a {
        &:hover {
          background-color: lighten($darkBlue, 25);
        }
      }
    }
  }
  header {
    background: $darkBlue;
    color: $white;
    display: block;
    height: 50px;
    transition: 0.2s all;
    .profile-picture {
      width: 30px;
      height: 30px;
      display: inline-table;
      background-size: contain;
      border-radius: 50px;
      margin-top: 10px;
      float: left;
      margin-left: 10px;
    }
    .user-name {
      float: left;
      margin-top: 15px;
      margin-left: 10px;
      cursor: pointer;
      color: $white;
    }
    .user-status {
      float: left;
      margin-top: 19px;
      margin-left: 5px;
      &.online {
        color: $mainGreen;
      }
      &.offline {
        color: $mainOrange;
      }
    }
    .button {
      color: $white;
      float: right;
      height: 49px;
      width: 29px;
      line-height: 49px;
      display: inline-block;
      text-align: center;
      transition: 0.3s all;
      &:hover {
        background: darken($darkBlue, 5);
      }
    }
  }
  .body {
    background: #f5f5f5;
    border-left: solid 1px #d5d5d5;
    border-right: solid 1px #d5d5d5;
    overflow: auto;
    height: calc(100% - 100px);
    padding-bottom: 20px;
    .spinner {
      position: relative;
      left: calc(50% - 16px);
      clear: both;
      display: block;
      margin-top: 10px;
    }
    .message {
      border-radius: 5px;
      padding: 10px;
      font-size: 13px;
      margin: 10px 10px 0;
      clear: both;
      display: block;
      float: left;
      background-color: #dbe0e5;
      border: solid 1px #bfccd8;
      &.mine {
        float: right;
        background-color: $white;
        border: solid 1px #bfccd8;
      }
      small {
        white-space: nowrap;
        font-size: 11px;
        margin-bottom: -7px;
        width: 100%;
        text-align: right;
        margin-left: 5px;
        font-weight: 300;
        margin-top: 3px;
        display: block;
      }
    }
    i {
      display: block;
      clear: both;
      padding: 10px;
      font-size: 12px;
      color: #989898;
      position: relative;
    }
  }
  footer {
    width: 100%;
    height: 50px;
    resize: none;
    background: $white;
    position: relative;
    border-top: solid 1px #d5d5d5;
    border-left: solid 1px #d5d5d5;
    border-right: solid 1px #d5d5d5;
    padding: 7px;
    outline: none;
    border-bottom: 0;
    font-size: 14px;
    textarea {
      border: none;
      outline: none;
      display: block;
      resize: none;
      width: 100%;
      height: 100%;
    }
    .emojipicker {
      top: 9px;
      right: 3px;
      position: absolute;
    }
  }
}
