.margin-top-5 {
	margin-top: 5px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-25 {
	margin-top: 25px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-35 {
	margin-top: 35px;
}

.margin-top-40 {
	margin-top: 40px;
}

.no-margin {
    margin: 0px !important;
}

.no-h-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.no-v-margin {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.no-h-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-v-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
