<div class="ui-notification custom-template" ng-click="navigateToLatestNotification()">
    <a class="btn btn-small close-notification" ng-click="close()">×</a>
    <div class="message" ng-bind-html="message"></div>
</div>
