<navbar guest="true"></navbar>
<div class="guest">
  <guest-search   ng-show="vm.global.state == 'guestsearch'"></guest-search>
  <guest-books    ng-show="vm.global.state == 'guestbooks'"></guest-books>
  <guest-requests ng-show="vm.global.state == 'guestrequests'"></guest-requests>
  <guest-users    ng-show="vm.global.state == 'guestusers'"></guest-users>
  <div class="preloader" ng-hide="vm.global.state">
   <svg class="spinner" width="64px" height="64px" viewBox="0 0 66 66">
     <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
   </svg>
  </div>
</div>
<!-- <footer id="footer" class="clearfix">
  <div id="subfooter">
      <div class="container">
          <div id="copyrights" class="col-xs-12 col-sm-4 col-md-3">
              <p>2016 © All Rights Reserved</p>
          </div>
      </div>
  </div>
</footer> -->
