left-sidebar {
  width: 230px;
  height: calc(100% - 76px);
  display: inline-block;
  background: #f6efe7;
  float: right;
  overflow: auto;
  border-left: 1px solid #c6c0b2;
  .search-container {
    border: 1px solid #c6c0b2;
    display: inline-block;
    border-radius: 50px;
    padding: 5px 15px;
    i {
      color: #a6a19b;
    }
    input {
      width: 135px;
      border: none;
      outline: none;
      background: none;
      margin-left: 5px;
    }
  }
  .side-row {
    padding: 20px;
    border-bottom: 1px solid #c6c0b2;
    &:last-child {
      border-bottom: none;
    }
  }
  .user {
    width: 100%;
    display: block;
    transition: 0.3s all;
    @extend .clearfix;
    &:hover {
      background: lighten(#f6efe7, 20%);
    }
    img {
      width: 40px;
      height: 40px;
      margin-right: 15px;
      display: inline-block;
    }
    span {
      color: #6f6a64;
      font-weight: bold;
    }
    i {
      float: right;
      margin-top: 12px;
      &.online {
        color: $mainGreen;
      }
      &.offline {
        color: $mainOrange;
      }
    }
  }
}