<div class="container">
  <div class="preloader" ng-hide="vm.booksLoaded">
   <svg class="spinner" width="64px" height="64px" viewBox="0 0 66 66">
     <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
   </svg>
  </div>
  <slick class="slider" ng-if="vm.booksLoaded" settings="vm.slickConfig">
    <div class="slick-slide" ng-repeat="book in vm.global.books" ng-style="{'background':'rgb('+book.color.join(',')+')'}">
      <a ng-href="//www.goodreads.com/book/show/{{book.goodreads_id}}" target="_blank"><img ng-src="image?img={{book.image_path}}" color-thief color-thief-dominant="book.color"></a>
      <h2>{{book.name}}</h2>
      <h3>by {{book.author}}</h3>
      <h2 class="ratings">
        <i class="fa fa-star" ng-repeat="i in book.rating | range" ng-attr-style="color: hsl({{book.getPrimColor(book.color)}})"></i>
        <i class="fa fa-star o" ng-repeat="i in (5 - book.rating | range)"></i>
        <span>{{book.ratings_count}} voters</span>
      </h2>
      <!-- <h2 ng-click="vm.focus(book)">
        <i class="fa fa-comments"></i>
        <span>{{book.comments_count}} comments</span>
      </h2> -->
      <strong>£{{book.price}}</strong>
      <button ng-attr-style="color: hsl({{book.getPrimColor(book.color)}}); box-shadow: 0 5px 15px hsla({{book.getPrimColor(book.color)}}, 0.4);">See This Book</button>
    </div>
  </slick>
  <div class="books-row" ng-class="{'focus':vm.commentMode}">
    <div class="blur" ng-show="vm.commentMode" ng-click="vm.blur()"></div>
    <div class="splitter"></div>
    <div class="col book" ng-repeat="book in vm.global.books" ng-class="{'active':book.commentMode}">
      <div class="body">
        <a ng-href="//www.goodreads.com/book/show/{{book.goodreads_id}}" target="_blank"><img ng-src="{{book.image_path}}"></a>
        <h2>{{book.author}}</h2>
        <h3>{{book.name}}</h3>
        <h2>
          <i class="fa fa-star" ng-repeat="i in book.rating | range" ng-style="{'color': 'hsl('+getPrimColor(book.color)+')'}"></i>
          <i class="fa fa-star o" ng-repeat="i in (5 - book.rating | range)"></i>
          <span>{{book.ratings_count}} voters</span>
        </h2>
        <h2 ng-click="vm.focus(book)">
          <i class="fa fa-comments"></i>
          <span>{{book.comments_count}} comments</span>
        </h2>
        <strong>£{{book.price}}</strong>
        <i class="fa fa-check-circle" ng-show="book.mine"></i>
        <button class="close-button" ng-class="{'visible': book.commentMode}" ng-click="vm.blur()">×</button>
        <button class="large-button half" ng-class="{'orange':book.status == 0}">{{book.status == 1 ? 'AVALIABLE' : 'NOT AVALIABLE'}}</button>
      </div>
    </div>
  </div>
</div>
