a {
  color: $black;
  &:hover {
    text-decoration: none;
  }
}

.navbar-default {
    border: none;
    background: none;
}

.container {
  @include breakpoint(lg,lg) {
    margin: 0 !important;
    width: 100% !important;
  }
}
